<h1>Criando um post</h1>
<%= form_with model: @post, data:{type: :hotwire} do |form| %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :body %>
        <%= form.text_field :body %>
    </div>

    <div class="actions">
    <%= form.submit %>
    </div>
<% end %>


<%= link_to "Voltar", posts_path %>